# Configuración del Servidor de Correo SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=tu-correo-corporativo@gmail.com
MAIL_PASSWORD=tu-clave-de-aplicacion-google
MAIL_FROM_NAME="HelpDesk Support"

#JWT
JWT_SECRET= PON_AQUI_TU_TOKEN
JWT_EXPIRES_IN= PON_AQUI_EL_TIEMPO_DE_EXPIRACION
